#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.center {
  margin: auto;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.full-w {
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 4rem auto;
}

.error {
  color: red;
  font-weight: 300;
  grid-column-start: 1;
  grid-column-end: 3;
}

.button-small{
  padding: 0.5rem 1rem;
}

.width-content{
  width: max-content;
}